*,
*:before,
*:after {
	box-sizing: border-box;
	outline: none !important;
}
body {
	font-family: 'Rubik', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
	padding: 0;
	margin: 0;
}
.container {
	max-width: 1214px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.nav__inner {
	margin-top: 17px;
	margin-bottom: 14px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav.fixed {
	position: fixed;
	z-index: 10;
	background: linear-gradient(157.1deg, #562EC2 29.59%, #A07EFE 73.59%);
	width: 100%;
	
}
.fixed .nav__inner {
	margin-top: 10px;
    margin-bottom: 10px;
}
.fixed .nav__link {
	color: #fff;

}

.fixed .btn--sing-in {
	color: #fff;
	padding-left: 10px;
    padding-top: 10px;
}
.fixed .btn--registration {
	padding: 12px 28px;
}

.logo {
	max-width: 226px;
	width: 100%;
	height: 24px;
}
.nav__navigation {
	max-width: 279px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav__link {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #4E5983;
	text-decoration: none;
}
.nav__link--mobile {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #4E5983;
	text-decoration: none;
}
.btn-burger-menu {
	display: none;
}

.nav--mobile {
	display: none;
	/*margin-top: 30px;*/
}
.btn__group--mobile {
	display: block;
}
.btn__group {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: baseline;
}
.btn--sing-in {
	color: #4E5983;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	margin-right: 17px;
	padding-right: 17px;
	padding-left: 17px;
	padding-top: 18px;
	padding-bottom: 18px;
	border: none;
	background: transparent;
	cursor: pointer;
}
.btn--registration {
	font-weight: 500;
	padding: 18px 28px;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #4E5983;
	border: none;
	background: transparent;
	background-color: #F4EFFF;
	border-radius: 9px;
	cursor: pointer;
}
.header {
	background: linear-gradient(157.1deg, #562EC2 29.59%, #A07EFE 73.59%);
	background: url(../img/bg-header.jpg) center no-repeat;
	-webkit-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 0px 22px 35px -31px rgba(97,58,202,1);
	-moz-box-shadow: 0px 22px 35px -31px rgba(97,58,202,1);
	box-shadow: 0px 22px 35px -31px rgba(97,58,202,1);
	height: 100%;;
}
.intro {
	padding-top: 112px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.header__title {
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 111.9%;
	text-align: center;
	color: #FFFFFF;
}
.header__subtitle {
	padding-top: 26px;
	padding-bottom: 54px;
	font-weight: normal;
	font-size: 19px;
	line-height: 23px;
	text-align: center;
	color: #FFFFFF;
}
.task {
	background: #FFFFFF;
	opacity: 0.8;
	border: 4px solid #F7F8FD;
	box-sizing: border-box;
	border-radius: 26px;
	margin-bottom: 120px;
	position: relative;
}
.task:after {
	content: '';
	position: absolute;
	display: block;
	background: #FFFFFF;
	opacity: 0.2;
	border: 4px solid #F7F8FD;
	border-radius: 26px 26px 0px 0px;
	transform: rotate(-180deg);
	max-width: 1038px;
	width: 100%;
	height: 18px;
	top: 298px;
    left: 103px;
}
.task:before {
	content: '';
	position: absolute;
	display: block;
	background: #FFFFFF;
	opacity: 0.2;
	border: 4px solid #F7F8FD;
	box-sizing: border-box;
	border-radius: 26px 26px 0px 0px;
	transform: rotate(-180deg);
	max-width: 934px;
	width: 100%;
	height: 37px;
	top: 298px;
    left: 155px;
}
.task__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
	max-width: 917px;
	margin: 0 auto;
	/*width: 917px;*/
	padding-top: 77px;
	padding-bottom: 75px;

}
.btn--task {
	background: linear-gradient(163.94deg, #562EC2 29.59%, #A07EFE 73.59%);
	opacity: 0.8;
	border-radius: 9px;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #FFFFFF;
	padding: 19px 40px;
	border: none;
	outline: none;
	margin-left: 68px;
	cursor: pointer;
	-webkit-box-shadow: 0px 22px 65px -32px rgba(97,58,202,1);
	-moz-box-shadow: 0px 22px 65px -32px rgba(97,58,202,1);
	box-shadow: 0px 22px 65px -32px rgba(97,58,202,1);
	/*z-index: 1;*/
}
.task__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.task__array {
	width: 16px;
	height: 16px;
	margin-bottom: 0;
	margin-top: auto;
	cursor: pointer;
}
.owl-nav {
	display: block !important;
	display: flex !important;
	outline: none !important;
}
.task__title {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #4E5983;
	margin-bottom: 34px;
	/*margin: 0;*/
}
.task__title__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: baseline;
}
.subtitle {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	margin-left: 15px;
	color: #4E5983;
	opacity: 0.5;
}
.task__text {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #4E5983;
	margin-bottom: 28px;
}
.task__container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-bottom: 16px;
	border-bottom: 2px solid #D6DCE2;
	padding-right: 25px;
}
.task__input {
	border: none;
/*	padding-left: 10px;
	margin-left: -10px;*/
	/*outline: none;*/
	/*max-width: 173px;*/
	/*width: 100%;*/
	margin-right: 16px;

	border-right: 1px solid #D6DCE2;
}
.task__img {
	width: 30px;
	height: 30px;
	margin-right: 16px;
	/*position: relative;*/
}
/*.task__var-1 .task__img:after {
	content: '';
	position: absolute;
	background-image: url(../img/task-img.svg);
	display: block;
	top: 5px;
    left: 7px;
	width: 16px;
	height: 16px;
	

}*/

.task__img__text {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
	cursor: pointer;

}
.task__img__text p {
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #4E5983;
	padding-top: 5px;
}
.task__var {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	cursor: pointer;
}
.btn--dropdown {
	position: absolute;
	border: none;
	background: transparent;
	background-image: url(../img/dropdown.svg);
	width: 13px;
	height: 9px;
    top: 9px;
    left: 42px;
	cursor: pointer;
}

/*services*/

.services {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 85px;
}
.service__item {
	width: 100%;
	max-width: 326px;
}

.service__title {
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	color: #4E5983;
	margin-top: 55px;
	margin-bottom: 32px;
}



.text__service {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 166.5%;
	color: #4E5983;
	opacity: 0.7;
}
.service__item:last-child .service__title {
	margin-top: 43px;
}
.service__item:last-child .service__img {
	margin-top: -15px;
}
.section--service {
	margin-bottom: 118px;
}


/*section--post*/


.section--post {
	position: relative;
}
.section--post:before {
	content: '';
	position: absolute;
	display: block;
	background-image: url(../img/bg-post.jpg);
	width: 100%;
	height: 650px;
	left: 0px;
	top: 50%;
	z-index: -1;
}
.section--post__inner {
	padding-left: 155px;
	margin-bottom: 142px;
	background: #FFFFFF;
	border: 4px solid #F7F8FD;
	border-radius: 26px;
	position: relative;
}
.section--post__inner:after {
	content: '';
	position: absolute;
	display: block;
	background-image: url(../img/post--decor-2.png);
	max-width: 259px;
	height: 259px;
	left: 880px;
	top: 296px;
	z-index: 1;
/*	transform: matrix(-0.92, 0.39, 0.39, 0.92, 0, 0);
*/}
.section--post__inner:before {
	content: '';
	position: absolute;
	display: block;
	background-image: url(../img/post--decor-3.png);
	width: 441px;
	height: 451px;
    left: -106px;
    top: -231px;
	z-index: -1;
/*	transform: matrix(-0.92, 0.39, 0.39, 0.92, 0, 0);
*/}
.news__post {
	margin-top: 102px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.post__title {
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 132.4%;
	color: #160647;
	margin-bottom: 35px;
}
.post__text {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 166.5%;
	color: #4E5983;
	opacity: 0.7;
	margin-bottom: 88px;
}
.post__hero {
	margin-right: 8px;
	position: relative;
}
.post__hero:after {
	position: absolute;
	content: '';
	display: block;
	background-image: url(../img/post--decor.png);
	width: 115px;
	height: 109px;
    top: 87px;
    left: 322px;
}
.post__img {
	height: 336px;
}

/*section__advantages*/

.advantages {
	margin-bottom: 160px;
}

.advantages__title {
	font-weight: 500;
	font-size: 35px;
	line-height: 111.9%;
	text-align: center;
	color: #160647;
}

.advantages__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.advantage__item {
	height: 52px;
	width: 100%;
	max-width: 230px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}
.advantage__hero {
	margin-left: 32px;
}

.advantages__inner-1 {
	margin-top: 59px;
	margin-bottom: 84px;
}


.advantage_title {
	font-size: 16px;
	line-height: 19px;

	color: #A4AABF;

}

.advantage__text {
	margin-top: 7px;
	font-size: 20.5714px;
	line-height: 155.5%;
	color: #160647;
}

.advantage__img {
	width: 52px;
	height: 52px;
}

/*reviews*/
.reviews {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	/*margin-bottom: 95px;*/
	overflow: hidden;
	width: 100%;
}
.reviews__item {
	position: relative;
	width: 100%;
	max-width: 488px;
	margin-top: 100px;
	height: 200px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.reviews__item:after {
	position: absolute;
	content: '';
	display: block;
	background-image: url(../img/reviews--decor.png);
	width: 338px;
	height: 204px;
    top: -100px;
    left: -190px;

}
.reviews__title {
	font-weight: 500;
	font-size: 35px;
	line-height: 132.4%;
	color: #160647;
}
.reviews__text {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 166%;
	opacity: 0.7;
	width: 100%;

	/*margin-bottom: 58px;*/
}
.reviews__author {
	font-size: 20px;
	line-height: 155.5%;
	color: #160647;
	margin-right: 30px;
	/*font-weight: 500;*/
}
.reviews__date {
	font-size: 14px;
	line-height: 17px;
	color: #838BA8;
}
.reviews__block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: baseline;
}
.reviews__array {
	width: 100%;
	max-width: 130px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: 0px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.array--left {
	margin-right: 23px;
	cursor: pointer;
	outline: none !important;
}
.array--right {
	cursor: pointer;
	outline: none !important;
}
.slider__nav--left {
	outline: none !important;
}
.slider__nav--right {
	outline: none !important;
}
.section--reviews {
	margin-bottom: 80px;
}
/*section--post2*/

.post2__inner {
	background: linear-gradient(163.51deg, #562EC2 29.59%, #A07EFE 73.59%);
	opacity: 0.8;
	border-radius: 17px;
	-webkit-box-shadow: 0px 22px 41px -18px rgba(97,58,202,1);
	-moz-box-shadow: 0px 22px 41px -18px rgba(97,58,202,1);
	box-shadow: 0px 22px 41px -18px rgba(97,58,202,1);
	margin-bottom: 135px;
}
.new__post2 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.post2__hero {
	width: 100%;
	max-width: 400px;
	position: relative;
	margin-right: 132px;
	margin-left: auto;
}
.post2__title {
	margin-top: 80px;
	font-weight: 500;
	font-size: 35px;
	line-height: 132.4%;
	color: #FFFFFF;
}
.post2__suptitle {
	font-size: 18px;
	line-height: 166.5%;
	opacity: 0.7;
	color: #FFFFFF;
	margin-top: 23px;
	margin-bottom: 49px;
}
.btn--post2 {
	margin-bottom: 60px;
	font-weight: 500;
	font-size: 15.9618px;
	line-height: 19px;
	color: #9F7DFD;
	padding: 25px 35px;
	background: #FFFFFF;
	opacity: 0.9;
	/*filter: blur(45px);*/
	border-radius: 10.2611px;
	border: none;
	-webkit-box-shadow: 0px 13px 41px -7px rgba(255,255,255,1);
	-moz-box-shadow: 0px 13px 41px -7px rgba(255,255,255,1);
	box-shadow: 0px 13px 41px -7px rgba(255,255,255,1);
	cursor: pointer;
	outline: none;
}
.img__post2 {
	width: 561.61px;
	height: 670.32px;
	/*transform: rotate(61.14deg);*/
}
.post2__hero:before	{
	position: absolute;
	content: '';
	display: block;
	background-image: url(../img/img-post2.png);
	width: 722.61px;
	height: 633.32px;
    top: -182px;
    left: -760px;
}

/*footer*/
.footer {
	padding-bottom: 100px;
}
.footer__nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*padding-bottom: 50px;*/
}
.footer__navigation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/*max-width: 545px;*/
}

.footer__link {
	font-size: 14px;
	line-height: 17px;
	color: #4E5983;
	text-decoration: none;
	margin-right: 60px;
}
.footer__social {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.social {
	margin-left: 25px;
}
.footer__logo {
	position: relative;
}
.subtitle__footer {
	margin-left: 30px;
	margin-top: 19px;
	margin-bottom: 80px;
	font-size: 14px;
	line-height: 17px;
	color: #838BA8;
}
.footer__logo:after {
	content: "Сервис обмена электронных валют";
	font-size: 14px;
	line-height: 17px;
	color: #838BA8;
	position: absolute;
    top: 35px;
    left: 30px;
	width: 290px;
	display: block;
}

.owl-nav {
	width: 100%;
	max-width: 130px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: 0px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.navigation__mobile {
    display: block;
    height: 100vh;
    flex-direction: column;
    padding-top: 130px;
    background: #5671F6;
}
.flex-block {
    display: flex;
}

.btn-group__mobile {
    /*margin-top: 66px;*/
    text-align: center;
}
.navigation__inner--mobile {
    width: 108px;
    margin: 0 auto;
}
.navigation__inner--mobile {
    width: 108px;
    margin: 0 auto;
}
.nav__link--mobile {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    margin-bottom: 18px;
    display: block;
}
.btn__group--mobile {
	margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.btn--sing--mobile {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
     margin-right: 0px; 
	padding: 0;
    padding-bottom: 18px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.nav__navigation--mobile {
    text-align: center;
    /*padding-bottom: 66px*/
    border-bottom: 1px solid #D4D4D4;
}
.flex-block {
	display: flex;
}
@media screen and (max-width: 1200px) {
	.header__title {
		font-size: 50px;
	}
	.post__title {
		font-size: 33px;
	}
	.section--service {
	    margin-bottom: 60px;
	}
	.section--post__inner{
		padding-left: 100px;
	}
	.news__post {
	    margin-top: 70px;
	}
	.advantages__title {
	    font-size: 33px;
	}
	.section--post__inner {
	    padding-left: 60px;
	    margin-bottom: 100px
	}
	.reviews__item:after {
		display: none;
	}
	.section--post__inner:after {
		display: none;
	}
	.task:after {
		width: 0;
		height: 0;
		border: none;
	}
	.task:before {
		width: 0;
		height: 0;
		border: none;
	}
	.post2__hero:before {
	    background-image: url(../img/img-post2.png);
	    width: 700.61px;
	    background-size: cover;
	    height: 636.32px;
		top: -88px;
	    left: -600px;
	}
	.reviews__title {
		font-size: 33px;
	}
	.advantages {
	    margin-bottom: 100px;
	}
	.reviews__item {
		margin-top: 50px;
	}
	.post2__hero {
		margin-right: 80px;
	}
}
@media screen and (max-width: 991px) {
	body.lock {
		overflow: hidden;
	}
	.container {
		max-width: 1200px;
		padding: 0 22px;
	}
	.btn-burger-menu.active__burger:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.btn-burger-menu.active__burger:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.btn-burger-menu.active__burger span {
		transform: scale(0);
	}
	.header {
		height: calc(100% - 20px);
	}
	.nav__navigation,  .btn__group {
		display: none;
	}
	.btn-burger-menu {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
	}
	.btn-burger-menu span {
		position: absolute;
		width: 100%;
		background-color: black;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all .3s;
	}
	.btn-burger-menu:before,
	.btn-burger-menu:after	 {
		position: absolute;
		content: '';
		background-color: black;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s;
	}
	.btn-burger-menu:after	{
		bottom: 0;
	}
	.btn-burger-menu:before {
		top: 0;
	}
	.nav--mobile {
		transition: all .3s;
		position: fixed;
		width: 100%;
		/*top: 30px;*/
		left: 0;
		padding: 100px 100px 50px 100px;
	    display: none;
	    height: 100vh;
	    flex-direction: column;
	    /*padding-top: 130px;*/
		background: linear-gradient(157.1deg, #562EC2 29.59%, #A07EFE 73.59%);
		background: url(../img/bg-header.jpg) center no-repeat;
		-webkit-background-size: cover;
	    background-size: cover;
	    -webkit-box-shadow: 0px 22px 35px -31px rgba(97,58,202,1);
		-moz-box-shadow: 0px 22px 35px -31px rgba(97,58,202,1);
		box-shadow: 0px 22px 35px -31px rgba(97,58,202,1);
		z-index: 5;
	}
	.logo {
		height: 20px;
		max-width: 200px;
		margin-top: 6px;
	}
	.header__title {
	    font-size: 50px;
	}
	.intro {
		padding-top: 70px;
	}
	.header__subtitle {
		font-size: 21px;
		padding-top: 15px;
    	padding-bottom: 30px;
	}
	.task {
		margin-bottom: 100px;
	}
	.task__inner {
		padding: 30px 30px;
		flex-direction: column;
		align-items: center;
	}
	.task__item {
		flex-direction: column;
	}
	.task__title {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.task__text  {
		margin-bottom: 15px;
	}
	.task__container {
		padding-bottom: 6px;
	}
	.task__input {
		margin-right: 6px;
		max-width: 700px;
		min-width: 100px;
		width: 100%;
	}
	.task__array {
		display: none;
	}
	.task__item__inner {
		padding-bottom: 30px;
	}
	.btn--task {
		padding: 14px 30px;
		margin-left: 0;
		margin-top: -10px;
	}
	.task:before {
	    content: '';
	    position: absolute;
	    display: none;
	    background: #FFFFFF;
	    opacity: 0.2;
	    border: 4px solid #F7F8FD;
	    box-sizing: border-box;
	    border-radius: 26px 26px 0px 0px;
	    transform: rotate(-180deg);
	    max-width: 243px;
	    width: 100%;
	    height: 23px;
	    top: 365px;
	    left: 31px;
	}
	.task:after {
	    content: '';
	    position: absolute;
	    display: none;
	    background: #FFFFFF;
	    opacity: 0.2;
	    border: 4px solid #F7F8FD;
	    border-radius: 26px 26px 0px 0px;
	    transform: rotate(-180deg);
	    max-width: 263px;
	    width: 100%;
	    height: 12px;
	    top: 365px;
	    left: 21px;
	}
	.services {
		flex-direction: column;
	}
	.service__item img {
		height: 60px;
	}
	.service__item {
	    margin-bottom: 30px;
	    margin-right: 10px;
	    max-width: 100%;
	}
	.service__title {
	    font-size: 24px;
	    margin-top: 24px;
	    margin-bottom: 9px;
	}
	.service__img--3 {
		width: 100px;height: 80px;
	}
	.text__service {
	    font-size: 19px;
	}
	.post__hero {
	    margin-right: 0; 
	    position: relative;
	    /* margin: 0 auto; */
	    padding: 0 20px;
	}
	.post__title {
	    font-style: normal;
	    font-weight: 500;
	    font-size: 26px;
	    line-height: 132.4%;
	    color: #160647;
	    margin-bottom: 35px;
	}
	.reviews__item:after {
	    position: absolute;
	    content: '';
	    display: none;
	    background-image: url(../img/reviews--decor.png);
	    width: 338px;
	    height: 204px;
	    top: -98px;
	    left: -50px;
	}
	.post__text {
	    font-style: normal;
	    font-weight: normal;
	    font-size: 14px;
	    line-height: 166.5%;
	    color: #4E5983;
	    opacity: 0.7;
	    margin-bottom: 50px;
	}
	.post__img {
	    height: 260px;
	}
	.section--post__inner:after {
	    content: '';
	    position: absolute;
	    display: none;
	    background-image: url(../img/post--decor-2.png);
	    width: 400px;
	    height: 259px;
	    left: 989px;
	    top: 296px;
	    z-index: 1;
	    /* transform: matrix(-0.92, 0.39, 0.39, 0.92, 0, 0); */
	}
	.post__hero:after {
	    position: absolute;
	    content: '';
	    display: none;
	    background-image: url(../img/post--decor.png);
	    width: 115px;
	    height: 109px;
	    top: 87px;
	    /* left: 322px; */
	}
	.news__post {
	    flex-direction: column-reverse;
	}
	.section--post__inner {
		padding-left: 0;
		margin-bottom: 12px;
	}
	.section--service {
		margin-bottom: 10px;
	}
	.advantages {
	    margin-bottom: 50px;
	}
	.advantages__title {
	    font-size: 26px;
	}
	.advantages__inner-1 {
	    margin-top: 20px;
	    margin-bottom: 0px; 
	}
	.advantage__item {
	    margin-bottom: 20px;
	    width: 50%;
	    max-width: 50%;
	}
	.advantages__inner {
	    flex-wrap: wrap;
	}
	.reviews__text {
		font-size: 16px;
	}
	.reviews__item {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	/* .reviews__item-2 {
		display: none;
	} */
	.reviews__title {
		font-size: 26px;
	}
	.post2__inner {
		margin-bottom: 50px;
	}
	.new__post2 {
		padding: 0 20px;
	}
	.post2__title {
		font-size: 26px;
	    margin-top: 40px;
	}
	.post2__suptitle {
	    font-size: 16px;
	    margin-top: 15px;
	    margin-bottom: 30px;
	}
	.btn--post2 {
	    margin-bottom: 40px;
	    font-size: 15.9618px;
	    padding: 20px 30px;
	}
	.post2__hero {
	    margin-right: 0;
	}
	.footer__logo {
	    margin-bottom: 40px;
	}
	.footer__nav {
	    flex-direction: column;
	    margin-bottom: 10px;
	    align-items: baseline;

	}
	.footer__navigation {
	    flex-direction: column;
	    align-items: baseline;
	}
	.footer__link {
	    margin-right: 60px;
	    margin-bottom: 5px;
	}
	.social {
	    margin-left: 0px; 
	    margin-right: 20px;
	}
	.footer {
	    padding-bottom: 50px;
	}
	.btn-burger-menu {
		display: block;
	}
	.post2__hero:before {
		width: 0;
		height: 0;
		display: none;
	}
	.post2__hero {
	    margin-left: 1px;
	}
}


@media screen and (max-width: 660px) {

	
	.logo {
		height: 20px;
		max-width: 200px;
		margin-top: 6px;
	}
	.header__title {
	    font-size: 28px;
	}
	.intro {
		padding-top: 70px;
	}
	.header__subtitle {
		font-size: 18px;
		padding-top: 15px;
    	padding-bottom: 40px;
	}
	.task {
		margin-bottom: 100px;
	}
	.task__inner {
		padding: 30px 30px;
		flex-direction: column;
		align-items: center;
	}
	.task__item {
		flex-direction: column;
	}
	.task__title {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.task__text  {
		margin-bottom: 15px;
	}
	.task__container {
		padding-bottom: 6px;
	}
	.task__input {
		margin-right: 6px;
		max-width: 200px;
		min-width: 100px;
		width: 100%;
	}
	.task__array {
		display: none;
	}
	.task__item__inner {
		padding-bottom: 30px;
	}
	.btn--task {
		padding: 14px 30px;
		margin-left: 0;
		margin-top: -10px;
	}
	.task:before {
	    content: '';
	    position: absolute;
	    display: none;
	    background: #FFFFFF;
	    opacity: 0.2;
	    border: 4px solid #F7F8FD;
	    box-sizing: border-box;
	    border-radius: 26px 26px 0px 0px;
	    transform: rotate(-180deg);
	    max-width: 243px;
	    width: 100%;
	    height: 23px;
	    top: 365px;
	    left: 31px;
	}
	.task:after {
	    content: '';
	    position: absolute;
	    display: none;
	    background: #FFFFFF;
	    opacity: 0.2;
	    border: 4px solid #F7F8FD;
	    border-radius: 26px 26px 0px 0px;
	    transform: rotate(-180deg);
	    max-width: 263px;
	    width: 100%;
	    height: 12px;
	    top: 365px;
	    left: 21px;
	}
	.services {
		flex-direction: column;
	}
	.service__item img {
		height: 60px;
	}
	.service__item {
		margin-bottom: 60px;

	}
	.service__title {
	    font-size: 18px;
	    margin-top: 24px;
	    margin-bottom: 9px;
	}
	.service__img--3 {
		width: 100px;height: 80px;
	}
	.text__service {
	    font-size: 15px;
	}
	.post__hero {
	    margin-right: 0; 
	    position: relative;
	    /* margin: 0 auto; */
	    padding: 0 20px;
	}
	.post__title {
	    font-style: normal;
	    font-weight: 500;
	    font-size: 26px;
	    line-height: 132.4%;
	    color: #160647;
	    margin-bottom: 35px;
	}
	.reviews__item:after {
	    position: absolute;
	    content: '';
	    display: none;
	    background-image: url(../img/reviews--decor.png);
	    width: 338px;
	    height: 204px;
	    top: -98px;
	    left: -50px;
	}
	.post__text {
	    font-style: normal;
	    font-weight: normal;
	    font-size: 14px;
	    line-height: 166.5%;
	    color: #4E5983;
	    opacity: 0.7;
	    margin-bottom: 50px;
	}
	.post__img {
	    height: 166px;
	}
	.section--post__inner:after {
	    content: '';
	    position: absolute;
	    display: none;
	    background-image: url(../img/post--decor-2.png);
	    width: 400px;
	    height: 259px;
	    left: 989px;
	    top: 296px;
	    z-index: 1;
	    /* transform: matrix(-0.92, 0.39, 0.39, 0.92, 0, 0); */
	}
	.post__hero:after {
	    position: absolute;
	    content: '';
	    display: none;
	    background-image: url(../img/post--decor.png);
	    width: 115px;
	    height: 109px;
	    top: 87px;
	    /* left: 322px; */
	}
	.news__post {
	    flex-direction: column-reverse;
	}
	.section--post__inner {
		padding-left: 0;
		margin-bottom: 12px;
	}
	.section--service {
		margin-bottom: 10px;
	}
	.advantages {
	    margin-bottom: 50px;
	}
	.advantages__title {
	    font-size: 26px;
	}
	.advantages__inner-1 {
	    margin-top: 20px;
	    margin-bottom: 0px; 
	}
	.advantage__item {
	    margin-bottom: 20px;
	}
	.advantages__inner {
	    flex-direction: column;
	}
	.reviews__text {
		font-size: 16px;
	}
	.reviews__item {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	/* .reviews__item-2 {
		display: none;
	} */
	.reviews__title {
		font-size: 26px;
	}
	.post2__inner {
		margin-bottom: 50px;
	}
	.new__post2 {
		padding: 0 20px;
	}
	.post2__title {
		font-size: 26px;
	    margin-top: 40px;
	}
	.post2__suptitle {
	    font-size: 16px;
	    margin-top: 15px;
	    margin-bottom: 30px;
	}
	.btn--post2 {
	    margin-bottom: 40px;
	    font-size: 15.9618px;
	    padding: 20px 30px;
	}
	.post2__hero {
	    margin-left: 0px;
	}
	.footer__logo {
	    margin-bottom: 40px;
	}
	.footer__nav {
	    flex-direction: column;
	    margin-bottom: 10px;
	    align-items: baseline;

	}
	.footer__navigation {
	    flex-direction: column;
	    align-items: baseline;
	}
	.footer__link {
	    margin-right: 60px;
	    margin-bottom: 5px;
	}
	.social {
	    margin-left: 0px; 
	    margin-right: 20px;
	}
	.footer {
	    padding-bottom: 50px;
	}
	.btn-burger-menu {
		display: block;
	}
	.footer__logo:after {
	    content: "Сервис обмена электронных валют";
	    font-size: 14px;
	    line-height: 17px;
	    color: #838BA8;
	    position: absolute;
	    top: 35px;
	    left: 0px;
	    width: 241px;
	    display: block;
	}
	.section--post__inner:before {
		width: 377px;
	}
}


